body {
  background-color: pink;
  font-family: Rubik;
  margin: 0;
  padding: 0;
}

/* TODO: make sure the flex works properly*/
#top-elements {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  min-height: 15vh;
  margin-bottom: 0.5rem;
}

#bottom-elements {
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  width: 3rem;
  margin-right: 0.5rem;
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 2rem;
}

button {
  position: relative;
  width: 4rem;
  height: 4rem;
}

#black {
  background-color: black;
}

#white {
  background-color: white;
}

#red {
  background-color: red;
}

#green {
  background-color: green;
}

#blue {
  background-color: blue;
}

#yellow {
  background-color: yellow;
}

/* TODO: maybe style these buttons a bit better*/
#fill,
#transparent,
#clear {
  background-color: lightgray;
  font-size: 300%;
}

/* TODO: not all styling may be necessary*/
.grid {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid;
  border-width: thin;
  background-color: white;
}

.cell {
  width: 0.25rem;
  height: 0.25rem;
}