body {
  background-color: pink;
  margin: 0;
  padding: 0;
}

#container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.cell {
  border: solid;
  margin: 1px;
  width: 2rem;
  height: 2rem;
}

.buttons {
  display: flex;
  flex-direction: column;
  margin-right: 2rem;
}

button {
  width: 4rem;
  height: 4rem;
}

#black {
  background-color: black;
}

#white {
  background-color: white;
}

#red {
  background-color: red;
}

#green {
  background-color: green;
}

#blue {
  background-color: blue;
}

#yellow {
  background-color: yellow;
}

#fill,
#transparent,
#clear {
  font-size: 300%;
}