body {
  background-color: pink;
  font-family: Rubik;
  margin: 0;
  padding: 0;
}

/* TODO: make sure the flex works properly and on mobile devices, also, not*/
/* TODO: all styling may be necessary*/
#container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/* TODO: move the form to the top of the grid */
.form {

}

input {
  width: 3rem;
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 2rem;
}

button {
  width: 4rem;
  height: 4rem;
}

#black {
  background-color: black;
}

#white {
  background-color: white;
}

#red {
  background-color: red;
}

#green {
  background-color: green;
}

#blue {
  background-color: blue;
}

#yellow {
  background-color: yellow;
}

/* TODO: maybe style these buttons a bit better*/
#fill,
#transparent,
#clear {
  font-size: 300%;
}

/* TODO: not all styling may be necessary*/
.grid {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid;
  border-width: thin;
  background-color: white;
}

.cell {
  width: 0.25rem;
  height: 0.25rem;
}